.recipe-preview {
	width: 360px;
	height: 200px;

	display: flex;
	flex-direction: column;

	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.2);
	margin: 30px;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	background-color: #F0F0F0;
	border-radius: 5px;
}

.recipe-preview:hover {
	transform: translate(-2px, -2px);
	box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
	background-color: #E0E0E0;
}

.recipe-preview > .__title {
	align-self: center;
	font-size: 2em;

	padding: 20px;
	max-width: calc(100% - 40px);

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.recipe-preview > .__description {
	padding: 10px 20px;
	font-size: 1em;
	
	max-width: calc(100% - 40px);

	white-space: wrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.recipe-preview__a {
	text-decoration: none;
}

@media screen and (min-width: 1080px) {
	.recipe-preview {
		width: 480px;
	}
}