.search-field {
	display: flex;
	flex-direction: row;
	width: 100%;

	border: 4px solid black;
	box-sizing: border-box;
	border-left-style: none;
	border-right-style: none;
}

.search-field > input {
	flex: 1 0 auto;

	font-size: 2em;
	padding: 15px;

	border: none;
	color: #202020;
}

.search-field > input:focus {
	outline: none;
	color: black;
}

.search-field > button {
	flex: 0 0 auto;
	font-size: 2em;
	font-weight: bold;
	width: 2em;

	cursor: pointer;
	border: none;
	background-color: white;
}

@media screen and (min-width: 1080px) {
	.search-field {
		border-left-style: solid;
		border-right-style: solid;
	}
}